body {
  font-family: 'Roboto', sans-serif;
  color: #2e2f42;
  background-color: #fff;
  line-height: 1.5;
}
ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}
p {
  color: #434455;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo span {
  color: #4d5ae5;
}
.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.address-link:hover,
.address-link:active,
.address-link:focus {
  color: #404bbf;
}
.nav-link:active,
.nav-link:focus {
  text-decoration: underline;
  color: #404bbf;
}
.address-link {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}
.hello-section {
  background-color: #2e2f42;
}
.hello-section-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}
.hello-section-btn {
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0.04em;
  cursor: pointer;
  line-height: 1.5;
}
.hello-section-btn:hover,
.hello-section-btn:focus {
  background-color: #404bbf;
}

.features-list-title {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
}
.team {
  background-color: #f4f4fd;
}
.team-title,
.portfolio-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
.team-card {
  background-color: #fff;
}
.team-card-title,
.portfolio-card-title {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-card-descr,
.portfolio-card-descr {
  text-align: center;
}
.footer {
  background-color: #2e2f42;
}
.footer .logo {
  color: #f4f4fd;
}
.footer-descr {
  color: #f4f4fd;
}
.portfolio-card-title,
.portfolio-card-descr {
  text-align: left;
}
