body {
  font-family: 'Roboto', sans-serif;
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 150%;
}
ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}
p {
  color: #434455;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo span {
  color: #4d5ae5;
}
.nav-link {
  font-weight: 500;
}
.nav-link:hover,
.address-link:hover {
  color: #404bbf;
}
.nav-link:active,
.nav-link:focus {
  text-decoration: underline;
}
.address-list {
  font-size: 16px;
  color: #434455;
}
.hello-section {
  background-color: #2e2f42;
}
.hello-section-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  color: #ffffff;
  text-align: center;
}
.hello-section-btn {
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.features-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
}
.team {
  background-color: #f4f4fd;
}
.team-title,
.portfolio-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
}
.team-card {
  background-color: #fff;
}
.team-card-title,
.portfolio-card-title {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
}
.team-card-descr,
.portfolio-card-descr {
  text-align: center;
}
.footer {
  background-color: #2e2f42;
}
.footer .logo {
  color: #f4f4fd;
}
.footer-descr {
  color: #f4f4fd;
}
.portfolio-card-title,
.portfolio-card-descr {
  text-align-last: left;
}
